@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("☺"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.2);
  z-index: 5000;
  background-color: #fff;
}
#header .header-burger {
  display: none;
}
@media (max-width: 950px) {
  #header {
    height: 70px;
  }
  #header .header-burger {
    display: block;
  }
  #header .header-burger .burger {
    width: 50px;
    height: 40px;
    margin-right: 20px;
    z-index: 6000;
  }
  #header .header-list {
    position: fixed;
    top: -1000%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    display: block !important;
    background-color: #fff;
    margin-top: 68px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    z-index: 2000 !important;
  }
  #header .header-list .appl {
    margin-bottom: 20px !important;
  }
  #header .header-list.active {
    top: 0;
  }
  #header .blockheader {
    width: 100%;
    margin: 0 auto;
    height: 70px !important;
    text-align: center !important;
  }
  #header .blockheader .menu {
    display: block !important;
    flex-direction: column;
    margin-right: 0px !important;
    width: 150px !important;
    margin: 0 auto !important;
    text-align: center !important;
  }
  #header .blockheader .menu li {
    margin-top: 0px !important;
    margin-left: 0px !important;
    padding: 10px !important;
  }
  #header .blockheader .logo {
    height: 50px !important;
    width: 50px !important;
    margin-left: 30px;
  }
}
#header .blockheader {
  max-width: 1220px;
  margin-left: 15px;
  margin-right: 15px;
  margin: 0 auto;
  height: 100px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
  z-index: 3000;
}
#header .blockheader .logo {
  width: 80px;
  height: 80px;
  padding: 10px;
}
#header .blockheader .menu {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0px;
  padding-left: 0px;
}
#header .blockheader .menu a {
  color: #666666;
  text-decoration: none;
}
#header .blockheader .menu .appl {
  border-radius: 50px;
  background-color: #337ab7;
  color: white;
}
#header .blockheader .menu .appl a {
  color: white;
}
#header .blockheader .menu li {
  display: inline-block;
  margin-left: 10px;
  margin-top: 22px;
  font-family: "OpenSans";
  font-size: 16px;
  color: #666666;
  padding: 10px;
}
#header .blockheader .menu :hover:not(.appl) {
  background-color: #eee;
}

#application {
  max-width: 100%;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding-top: 100px;
  z-index: 10;
  height: 600px;
}
#application .block-application {
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
  height: 100%;
  background-color: #f7f7f7;
  padding-left: 30px;
  padding-right: 30px;
}
#application .block-application .descr-appl {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin-right: 70px;
  margin-left: 70px;
}
#application .block-application .descr-appl h1 {
  text-align: center;
  font-size: 30px;
  color: #333;
  display: block;
  margin: 0 auto;
  padding-top: 150px;
  font-family: "OpenSans";
}
#application .block-application .descr-appl p {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "OpenSans";
  padding-top: 20px;
  font-size: 16px;
  color: #787878;
}
#application .block-application .form {
  display: flex;
  max-width: 600px;
  height: auto;
}
#application .block-application .form .modal-header {
  font-family: "OpenSans";
  font-size: 24px;
  padding-top: 50px;
}
#application .block-application .form .feedback {
  font-family: "OpenSans";
  color: #535353;
  font-size: 14px;
  float: left;
  margin-bottom: 5px;
}
#application .block-application .form img {
  width: 8px;
  height: 8px;
  float: left;
  margin-top: 20px;
  margin-left: 3px;
}
#application .block-application .form .input {
  font-family: "OpenSans";
  width: 600px;
  padding: 10px;
  font-weight: 400;
  background-color: #fff;
  border: solid 1px #777777;
  border-radius: 1px;
  padding-right: 0px;
  display: flex;
}
#application .block-application .form .checkbox {
  font-family: "OpenSans";
  margin-top: 20px;
  float: left;
  margin-right: 5px;
}
#application .block-application .form .checkbox-text {
  display: block;
  font-family: "OpenSans";
  color: #535353;
  font-weight: 400;
  font-size: 14px;
  float: left;
  margin-top: 17px;
  width: 310px;
}
#application .block-application .form .checkbox-text img {
  padding-top: 20px;
}
#application .block-application .form .href {
  color: #6898da;
  text-decoration: none;
}
#application .block-application .form br {
  display: none;
}
#application .block-application .form input:focus:required:invalid {
  outline: none;
  background-color: #fffefe;
  border: solid 1px rgb(158, 172, 255);
  box-shadow: 0 0 5px rgb(145, 192, 255);
}
#application .block-application .form .button {
  font-family: "OpenSans";
  width: 60%;
  height: 42px;
  margin-left: 100px;
  border-style: none;
  appearance: none;
  background: #337ab7;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  display: block;
  margin-bottom: 30px;
}
@media (max-width: 1210px) {
  #application {
    height: auto !important;
    width: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #application .block-application {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  #application .descr-appl {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 800px !important;
    width: auto;
    margin: 0 auto !important;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
  #application .descr-appl h1 {
    padding-top: 10px !important;
    font-size: 20px !important;
  }
  #application .descr-appl p {
    max-width: 600px;
  }
  #application .form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
  }
  #application .form .modal-header {
    font-size: 20px !important;
    text-align: center;
  }
}
@media (max-width: 950px) {
  #application {
    padding-top: 70px !important;
  }
}
@media (max-width: 600px) {
  #application .form {
    width: 400px !important;
  }
  #application .form .forma {
    width: 400px !important;
  }
  #application .form .forma .input {
    width: 400px !important;
  }
  #application .form br {
    display: none;
  }
  #application .checkbox-text {
    width: 300px !important;
  }
  #application .last {
    display: none;
  }
  #application .button {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
    width: 100% !important;
  }
}
@media (max-width: 420px) {
  #application .descr-appl p {
    font-size: 12px !important;
  }
  #application .descr-appl h1 {
    font-size: 20px !important;
  }
  #application .form {
    width: 290px !important;
  }
  #application .form .forma {
    width: 290px !important;
  }
  #application .form .forma .input {
    width: 270px !important;
  }
  #application .form .checkbox-text {
    width: 250px !important;
  }
  #application .form .button {
    width: 90% !important;
    margin-left: 10px !important;
  }
  #application .form .modal-header {
    font-size: 20px !important;
    padding-top: 20px !important;
  }
  #application .form .modal-header .checkbox-text {
    width: 250px !important;
  }
}

#courses {
  width: 100%;
}
#courses .title {
  text-align: center;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "OpenSans";
  font-size: 30px;
  color: #333;
}
#courses .block-courses {
  width: 1220px;
  margin: 0px 15px 0px;
  margin: 0 auto;
}
#courses .course {
  padding: 0px 20px 0px;
  margin-bottom: 70px;
}
#courses .course p {
  text-align: center;
  color: #a3a3a3;
  font-family: "OpenSans";
}
#courses .course h3 {
  font-family: "OpenSans";
  text-align: center;
  color: #666;
  padding-bottom: 30px;
  border-bottom: 1px solid #3498db;
}
#courses .slider-one .slick-track {
  display: flex;
  align-items: flex-start;
}
#courses .slider-one .slick-list {
  overflow: hidden;
}
@media (max-width: 851px) {
  #courses .block-courses {
    width: 800px;
  }
  #courses .block-courses .course {
    padding: 0px 30px 0px;
  }
  #courses .block-courses .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 20px;
  }
  #courses .block-courses .slick-dots li {
    list-style: none;
    margin: 0px 7px;
  }
  #courses .block-courses .slick-dots .slick-active button {
    background-color: #666;
    border: 0px;
    border-radius: 50%;
  }
  #courses .block-courses .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #b3b3b3;
    border: 0px;
    border-radius: 50%;
  }
  #courses .block-courses .slick-list {
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  #courses .block-courses {
    width: 500px;
  }
  #courses .block-courses .title {
    margin-right: 0px !important;
  }
  #courses .block-courses .course {
    padding: 0px 50px 0px;
  }
}
@media (max-width: 320px) {
  #courses .block-courses {
    width: 320px;
  }
  #courses .block-courses .title {
    margin-right: 0px !important;
  }
  #courses .block-courses .course {
    padding: 0px 20px 0px;
  }
}
#courses .info {
  width: 100%;
  background-color: #3498db;
}
#courses .info .block-info {
  width: 1220px;
  margin: 0px 15px 0px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
#courses .info .block-info .information {
  width: 135px;
  height: 150px;
  display: inline-block;
  margin: 50px 40px 50px;
  z-index: 5;
}
#courses .info .block-info .information img {
  width: 85px;
  height: 70px;
}
#courses .info .block-info .information p:not(.num) {
  font-family: "OpenSans";
  color: white;
  text-align: center;
  font-size: 14px;
  margin-top: 0px;
}
#courses .info .block-info .information .num {
  font-family: "OpenSans";
  color: white;
  text-align: center;
  font-size: 24px;
  margin: 5px;
}
@media (max-width: 500px) {
  #courses .info .block-info {
    width: 100%;
  }
  #courses .info .block-info .information {
    margin-left: 5px;
    margin-right: 5px;
  }
}

#comments {
  width: 100%;
}
#comments .block-comments {
  width: 1220px;
  margin: 0px 15px 0px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
#comments .block-comments h3 {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "OpenSans";
  font-size: 30px;
  color: #333;
  font-weight: 400;
}
#comments .block-comments .comment {
  margin: 0 auto;
  width: 700px;
  z-index: 6;
}
#comments .block-comments .comment img {
  width: 20px;
  height: 17px;
}
#comments .block-comments .comment .quotes-t {
  position: relative;
  display: inline-block;
  z-index: 5;
}
#comments .block-comments .comment p {
  z-index: 5;
  padding-top: 10px;
  display: inline-block;
  width: 630px;
  margin: 0 auto;
  font-family: "OpenSans";
  color: #666;
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
}
#comments .block-comments .comment .quotes-b {
  display: inline-block;
  z-index: 5;
}
#comments .block-comments .comment .comm-name {
  font-weight: 600;
  color: #000;
}
#comments .block-comments .comment .prof {
  padding-top: 0px;
  font-style: italic;
  font-size: 14px;
}
#comments .block-comments .slider-two {
  z-index: 5;
}
#comments .block-comments .slider-two .slick-track {
  display: flex;
  align-items: flex-start;
}
#comments .block-comments .slider-two .slick-list {
  overflow: hidden;
}
#comments .block-comments .slider-two .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-bottom: 20px;
}
#comments .block-comments .slider-two .slick-dots li {
  list-style: none;
  margin: 0px 7px;
}
#comments .block-comments .slider-two .slick-dots .slick-active button {
  background-color: #666;
  border: 0px;
  border-radius: 50%;
}
#comments .block-comments .slider-two .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #b3b3b3;
  border: 0px;
  border-radius: 50%;
}
@media (max-width: 1220px) {
  #comments .block-comments {
    width: 700px;
  }
}
@media (max-width: 710px) {
  #comments .block-comments {
    width: 400px;
  }
  #comments .block-comments .comment {
    width: 100%;
  }
  #comments .block-comments .comment p {
    width: 100%;
  }
}
@media (max-width: 400px) {
  #comments .block-comments {
    width: 320px;
  }
  #comments .block-comments .comment {
    width: 100%;
    margin: 0px 10px 0px;
  }
  #comments .block-comments .comment p {
    width: 100%;
  }
}

#video {
  width: 100%;
  background-color: #f7f7f7;
}
#video .block-video {
  width: 1220px;
  margin: 0px 15px 0px;
  margin: 0 auto;
  height: 100%;
  background-color: #f7f7f7;
  text-align: center;
  padding-bottom: 50px;
}
#video .block-video h3 {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 0px;
  font-family: "OpenSans";
  font-size: 30px;
  color: #333;
  font-weight: 400;
}
#video .block-video p {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-family: "OpenSans";
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 16px;
  color: #787878;
}
#video .block-video .video {
  width: 1020px;
  height: 575px;
  margin: 0 auto;
  z-index: 1;
}
#video .block-video .video iframe {
  width: 100%;
  height: 100%;
  z-index: 3;
}
@media (max-width: 1020px) {
  #video .block-video {
    width: 100%;
  }
  #video .block-video .video {
    width: 100%;
    height: 100%;
  }
  #video .block-video p {
    margin-left: 20px;
    margin-right: 10px;
  }
}

#mentors {
  width: 100%;
  margin-bottom: 50px;
}
#mentors .block-mentors {
  width: 1220px;
  margin: 0px 15px 0px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
#mentors .block-mentors h3 {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "OpenSans";
  font-size: 30px;
  color: #333;
  font-weight: 400;
}
#mentors .block-mentors .mentor {
  margin-bottom: 80px;
}
#mentors .block-mentors .mentor img {
  position: relative;
  display: inline-block;
  z-index: 5;
  padding-right: 80px;
}
#mentors .block-mentors .mentor p {
  z-index: 5;
  padding-top: 10px;
  display: inline-block;
  width: 530px;
  margin: 0 auto;
  font-family: "OpenSans";
  color: #666;
  text-align: left;
  font-size: 16px;
  margin-top: 0px;
}
#mentors .block-mentors .mentor span {
  display: block;
  width: 530px;
  color: #3498db;
  font-weight: bold;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 20px;
}
#mentors .block-mentors .slider-three {
  z-index: 5;
}
#mentors .block-mentors .slider-three .slick-track {
  display: flex;
  align-items: flex-start;
}
#mentors .block-mentors .slider-three .slick-list {
  overflow: hidden;
}
#mentors .block-mentors .slider-three .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-bottom: 20px;
}
#mentors .block-mentors .slider-three .slick-dots li {
  list-style: none;
  margin: 0px 7px;
}
#mentors .block-mentors .slider-three .slick-dots .slick-active button {
  background-color: #666;
  border: 0px;
  border-radius: 50%;
}
#mentors .block-mentors .slider-three .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #b3b3b3;
  border: 0px;
  border-radius: 50%;
}
@media (max-width: 1100px) {
  #mentors .block-mentors {
    width: 600px;
  }
  #mentors .block-mentors .mentor {
    margin-bottom: 80px;
  }
  #mentors .block-mentors .mentor img {
    display: inline-block;
  }
  #mentors .block-mentors .mentor p {
    z-index: 5;
    padding-top: 10px;
    display: inline-block;
  }
}
@media (max-width: 600px) {
  #mentors .block-mentors {
    width: 320px;
  }
  #mentors .block-mentors .mentor {
    margin-bottom: 80px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  #mentors .block-mentors .mentor img {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 220px;
    padding-right: 0px;
  }
  #mentors .block-mentors .mentor p {
    text-align: center;
    z-index: 5;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }
  #mentors .block-mentors .mentor span {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-right: 0px;
    padding-bottom: 5px;
  }
}

#maps {
  width: 100%;
  height: 400px;
}
#maps iframe {
  width: 100%;
  height: 100%;
}

#contacts {
  width: 100%;
  background-color: #3498db;
}
#contacts .block-contacts {
  width: 1220px;
  margin: 0px 15px 0px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
#contacts .block-contacts .contact {
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
}
#contacts .block-contacts .contact h4 {
  margin: 0px;
  padding-bottom: 10px;
  font-family: "OpenSans";
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
#contacts .block-contacts .contact a {
  color: #fff;
  margin-top: 0px;
  text-decoration: none;
  font-family: "OpenSans";
  font-size: 16px;
}
#contacts .block-contacts .contact p {
  color: #fff;
  margin-top: 0px;
  font-family: "OpenSans";
  font-size: 16px;
}
@media (max-width: 1100px) {
  #contacts .block-contacts {
    width: 100%;
  }
  #contacts .block-contacts .contact {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  #contacts .block-contacts .contact a {
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
    font-family: "OpenSans";
    font-size: 11px;
  }
  #contacts .block-contacts .contact p {
    color: #fff;
    margin-top: 0px;
    font-family: "OpenSans";
    font-size: 11px;
  }
  #contacts .block-contacts .contact h4 {
    margin: 0px;
    padding-bottom: 10px;
    font-family: "OpenSans";
    font-size: 11px;
    color: #fff;
    font-weight: 700;
  }
}

#footer {
  background-color: #f7f7f7;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  height: 100px;
  padding-bottom: 30px;
}
#footer a {
  color: #666666;
  font-family: "OpenSans";
  font-size: 16px;
  text-decoration: none;
}
#footer p {
  color: #3498db;
  font-family: "OpenSans";
  font-size: 16px;
}