@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), 
    url('../fonts/OpenSans-Regular.ttf') format('truetype'), 
    url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
    padding: 0;
    margin: 0;
    min-width: 1220px;
}

#header{
    position: fixed;
    top: 0; 
    width: 100%;
    height: 100px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .2);
    z-index: 5000;
    background-color: #fff;

#header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #ffa;
    z-index: 7000;
}
.header-burger{
    display: none;
   
}
@media (max-width:950px) {
    height: 70px;
.header-burger{
    display: block;
.burger{
    width: 50px;
    height: 40px;
    margin-right: 20px;
    z-index: 6000;
}
}
.header-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    display: block !important;
    background-color: #ffa;
    margin-top: 68px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .2);
}

.blockheader{
    width: 100%;
    margin: 0 auto;
    height: 70px !important;
    text-align: center !important;
    .menu{
        display: block !important;
        flex-direction: column;
        margin-right: 0px !important;
        width: 150px !important;
        margin: 0 auto !important;
        text-align: center !important;
            li{
                margin-top: 0px !important;
                margin-left: 0px !important;
                padding: 10px !important;
            }
        
    }
    .logo{
        height: 50px !important;
        width: 50px !important;
        margin-left: 30px;
    }
}

}

@media (max-width:320px) {
    height: 70px;
.header-burger{
    display: block;
.burger{
    width: 50px;
    height: 40px;
    margin-right: 20px;
    z-index: 6000;
}
}
.header-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    background-color: #fff;
    z-index: 4000;
    margin-top: 68px;
    text-align: center;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .2);
}

.blockheader{
    width: 100%;
    height: 70px !important;
    .menu{
        margin: 50%;
        display: flex !important;
        flex-direction: column;
        li{
            padding-left: 0px !important;
            padding-right: 0px !important;
            margin-top: 0px !important;
            margin-left: 480px !important;
            margin-right: 480px;
            padding: 0px;
            :hover:not(.appl){
                background-color: #eee;
        }
    }
    .logo{
        height: 50px;
        width: 50px;
        margin-left: 30px;
    }
}
}
}
.blockheader{
    max-width: 1220px;
    margin-left: 15px;
    margin-right: 15px;
    margin: 0 auto;
    height: 100px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 3000;

.logo{
    width: 80px;
    height: 80px;
    padding: 10px;
}

.menu{
    display: inline-block;
    margin-right: 10px;
    margin-top: 0px;
    padding-left: 0px;
a{
    color: #666666;
    text-decoration: none;
}

.appl{
    border-radius: 50px;
    background-color: #337ab7;
    color: white;

a{
    color: white;
}
}

li{
    display: inline-block;
    margin-left: 10px;
    margin-top: 22px;
    font-family: "OpenSans";
    font-size: 16px;
    color: #666666;
    padding: 10px;
}

:hover:not(.appl){
    background-color: #eee;
}

}
}
}
#application{
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    height: 600px;
    background-color: #f7f7f7;
    padding-top: 100px;
    z-index: 10;

.block-application{
    max-width: 1220px;
    margin: 0px 15px 0px;
    margin: 0 auto;
    height: 100%;
    background-color: #f7f7f7;

.descr-appl{
    width: 45%;
    float: left;
h1{
    text-align: center;
    font-size: 30px;
    color: #333;
    display: block;
    margin: 0 auto;
    padding-top: 200px;
    font-family: "OpenSans";
}
p{
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: "OpenSans";
    padding-top: 20px;
    font-size: 16px;
    color: #787878;
}
}
}
.form{
    width: 50%;
    float: left;
    height: auto;

.forma{
    float: left;
    height: auto;
    width: 500px;
}


.modal-header {
    font-family: "OpenSans";
	font-size: 24px;
    padding-top: 50px;
}

.feedback{
    font-family: "OpenSans";
	color: #535353;
	font-size: 14px;
    float: left;
    margin-bottom: 5px;
}

img{
    width: 8px;
    height: 8px;
    float: left;
    margin-top: 20px;
    margin-left: 3px;
}

.input{
    font-family: "OpenSans";
	width: 500px;
	padding: 10px ;
  	font-weight: 400;
  	background-color: #fff;
	border: solid 1px #777777;
	border-radius: 1px;
}

.checkbox{
    font-family: "OpenSans";
    margin-top: 20px;
    float: left;
    margin-right: 5px;
}

.checkbox-text{
    display: block;
    font-family: "OpenSans";
	color: #535353;
	font-weight: 400;
	font-size: 14px;
    float: left;
    margin-top: 17px;
    width: 310px;

img{
    padding-top: 20px;
}
}

.href{
    color: #6898da;
    text-decoration: none;
}


input:focus:required:invalid {
    outline: none;
	background-color: #fffefe;
	border: solid 1px rgb(158, 172, 255);
	box-shadow: 0 0 5px rgb(145, 192, 255);
  }


.button{
    font-family: "OpenSans";
	width: 300px;
	height: 42px;
    margin-left: 100px;
	border-style: none;
    appearance: none;
	background: #337ab7;
    border-radius: 50px;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	line-height: 1.2;
	display: block;
	margin-bottom: 30px;
}
}
}
#courses{
    
.title{
    text-align: center;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "OpenSans";
    font-size: 30px;
    color: #333;
}
.block-courses{
    width: 1220px;
    margin: 0px 15px 0px;
    margin: 0 auto;
}
.course{
    width: 350px;
    padding: 0px 20px 0px;
    margin-bottom: 70px;
    

p{
    text-align: center;
    color: #a3a3a3;
    width: 350px;
    font-family: "OpenSans";
}
h3{
    font-family: "OpenSans";
    width: 350px;
    text-align: center;
    color: #666;
    padding-bottom: 30px;
    border-bottom: 1px solid #3498db;
}
}
.slider-one{
.slick-track{
    display: flex;
    align-items: flex-start;
}
.slick-list{
    overflow: hidden;
}

}
.info{
    width: 100%;
    background-color: #3498db;
.block-info{
    width: 1220px;
    margin: 0px 15px 0px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
.information{
    display: inline-block;
    margin: 50px 40px 50px;
    z-index: 5;
img{
    width: 85px;
    height: 70px;

}
p:not(.num){
    font-family: "OpenSans";
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
}
.num{
    font-family: "OpenSans";
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 5px;
}
}
}
}
}
#comments{
    width: 100%;
.block-comments{
    width: 1220px;
    margin: 0px 15px 0px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
h3{
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "OpenSans";
    font-size: 30px;
    color: #333;
    font-weight: 400;
}
.comment{
    margin: 0 auto;
    width: 700px;
    z-index: 6;
 
img{
    width: 20px;
    height: 17px;
}
.quotes-t{
    position: relative;
    display: inline-block;
    z-index: 5;
}
p{
    z-index: 5;
    padding-top: 10px;
    display: inline-block;
    width: 630px;
    margin: 0 auto;
    font-family: "OpenSans";
    color: #666;
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
}
.quotes-b{
    display: inline-block; 
    z-index: 5;
}
.comm-name{
    font-weight: 600;
    color: #000;
}
.prof{
    padding-top: 0px;
    font-style: italic;
    font-size: 14px;
}
}
.slider-two{
    z-index: 5;
    .slick-track{
        display: flex;
        align-items: flex-start;
    }
    .slick-list{
        overflow: hidden;
    }
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 20px;
li{
    list-style: none;
    margin: 0px 7px;
}
.slick-active{
    button{
        background-color: #666;
        border: 0px;
        border-radius: 50%;
}
}
button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #b3b3b3;
    border: 0px;
    border-radius: 50%;
}
} 
}
}
}
#video{
    width: 100%;
    background-color: #f7f7f7;
.block-video{
    width: 1220px;
    margin: 0px 15px 0px;
    margin: 0 auto;
    height: 100%;
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 50px;
h3{
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    font-family: "OpenSans";
    font-size: 30px;
    color: #333;
    font-weight: 400;
}
p{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: "OpenSans";
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #787878;
}
.video{
    width: 1020px;
    height: 575px;
    margin: 0 auto;
iframe{
width: 100%;
height: 100%;
}
}
}
}
#mentors{
    width: 100%;
    margin-bottom: 50px;
.block-mentors{
    width: 1220px;
    margin: 0px 15px 0px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
h3{
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "OpenSans";
    font-size: 30px;
    color: #333;
    font-weight: 400;
}
.mentor{
    margin-bottom: 80px;
img{
    position: relative;
    display: inline-block;
    z-index: 5;
    padding-right: 80px;
}
p{
    z-index: 5;
    padding-top: 10px;
    display: inline-block;
    width: 530px;
    margin: 0 auto;
    font-family: "OpenSans";
    color: #666;
    text-align: left;
    font-size: 16px;
    margin-top: 0px;
}
span{
    display: block;
    width: 530px;
    color: #3498db;
    font-weight: bold;
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 20px;
}
}
.slider-three{
    z-index: 5;
    .slick-track{
        display: flex;
        align-items: flex-start;
    }
    .slick-list{
        overflow: hidden;
    }
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 20px;
li{
    list-style: none;
    margin: 0px 7px;
}
.slick-active{
    button{
        background-color: #666;
        border: 0px;
        border-radius: 50%;
}
}
button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #b3b3b3;
    border: 0px;
    border-radius: 50%;
}
}
}
}
}
#maps{
    width: 100%;
    height: 400px;
iframe{
    width: 100%;
    height: 100%;
}
}
#contacts{
    width: 100%;
    background-color: #3498db;
.block-contacts{
    width: 1220px;
    margin: 0px 15px 0px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
.contact{
    margin-top: 40px;
    display: inline-block;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
h4{
    margin: 0px;
    padding-bottom: 10px;
    font-family: "OpenSans";
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
a{
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
    font-family: "OpenSans";
    font-size: 16px;
}
p{
    color: #fff;
    margin-top: 0px;
    font-family: "OpenSans";
    font-size: 16px;
}
}
}
}
#footer{
    background-color: #f7f7f7;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-bottom: 30px;
a{
    color: #666666;
    font-family: "OpenSans";
    font-size: 16px;
    text-decoration: none;
}
p{
    color: #3498db;
    font-family: "OpenSans";
    font-size: 16px;

}
}
